<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Football reviews | Contact</title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Reviews of all the football matches</h1>
    <p>Contact us here Mob: +91-9934083433, email: messi@barcelona.com</p>

    <p>
      Thanks for contacting dept <%= qs.dept %> of company <%= qs.company %>. We will reach out to your email: <%= qs.email %>
    </p>

  </body>
</html>
